[Unit] 
Description=EcoDroidLink - edl_main script
StopWhenUnneeded=yes

[Service]
ExecStart=/home/edl/ecodroidlink/edl_main
ExecStop=/home/edl/ecodroidlink/edl_stop
LimitNPROC=1

[Install] 
WantedBy=bluetooth.target
